# most packages are specified in requirements-gh.txt, and new packages should be placed
# there UNLESS they cannot be installed without CUDA support, in which case they should go here.
-r requirements-nocuda.txt

# these libs support better mamba implementations in transformers, 
# but require CUDA/nvcc, so they won't work on MacOS.
mamba_ssm==1.2.0.post1; sys_platform != 'darwin'
causal-conv1d==1.2.0.post2; sys_platform != 'darwin'
